<section class="profile col-md-6 text-center col-lg" id="profile-page">
    <div class="profile-container">
        {{#with userInfo}}
        <img class="profile-img" src="/static/images/{{gender}}.png">
        <p>Email: <span>{{email}}</span></p>
    </div>
    <div class="profile-info">
        <p>Trips History: <span>{{countTrips}}</span> counts</p>

        <div class="trips-info">
            {{#each tripsHistory}}
            <p>from <span>{{startPoint}}</span> to <span>{{endPoint}}</span> on <span>{{date}}</span> at
                <span>{{time}}</span>
            </p>
            {{else}}
            <p>there are no offer trips yet...</p>
            {{/each}}
        </div>

    </div>
    {{/with}}
</section>