<div class="createPage">
    <h2>Add photo</h2>
    {{#with userInput}}
    <form action="/create" method="post">
        <p>
            <input type="text" minlength="2" name="name" placeholder="Name" value="{{name}}">
        </p>

        <p>
            <input type="number" name="age" min="1" max="100" placeholder="Age" value="{{age}}">
        </p>

        <p>
            <textarea type="text" minlength="5" maxlength="50" name="description" placeholder="Description">{{description}}</textarea>
        </p>

        <p>
            <input type="text" minlength="5" maxlength="50" name="location" placeholder="Location" value="{{location}}">
        </p>

        <p>
            <input type="text" name="imageUrl" placeholder="Link to image" value="{{imageUrl}}">
        </p>

        <button class="add-btn" type="submit">Add Photo</button>
    </form>
    {{/with}}
</div>
