<li>
    <img src="{{imagePath}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <p><span>Breed: </span>{{breed.breed}}</p>
    <p><span>Description: </span>{{description}}</p>
    <ul class="buttons">
        <li class="btn edit"><a href="/edit/{{_id}}">Change Info</a></li>
        <li class="btn delete"><a href="/new-home/{{_id}}">New Home</a></li>
    </ul>
</li>