<section id="edit-container">
    <div class="edit-container-info">
        <h1>Edit Announcement</h1>
        
        {{#with itemDetails}}
        <form action="/edit/{{_id}}" method="post">
            <label>Name:</label>
            <input type="text" id="name" name="name" value="{{name}}" placeholder="Bitcoin">
            <label>Image:</label>
            <input type="text" id="image" name="imageUrl" value="{{imageUrl}}" placeholder="http://...">
            <label>Price:</label>
            <input type="number" id="price" name="price" min="0" step="0.00001" value="{{price}}" placeholder="31,166.71">
            <label>Description:</label>
            <textarea id="description" name="description"
                placeholder="Introduce your coins...">{{description}}</textarea>
            <label>Payment method:</label>
            <select id="payment" name="payment">
                <option value="crypto-wallet" {{#if (equal payment 'crypto-wallet')}}selected{{/if}}>Crypto Wallet</option>
                <option value="credit-card" {{#if (equal payment 'credit-card')}}selected{{/if}}>Credit Card</option>
                <option value="debit-card" {{#if (equal payment 'debit-card')}}selected{{/if}}>Debit Card</option>
                <option value="paypal" {{#if (equal payment 'paypal')}}selected{{/if}}>PayPal</option>
            </select>
            <input type="submit" id="btn" value="EDIT"></input>
        </form>
        {{/with}}

    </div>
</section>